<%= form_for(mail_u) do |f| %>
  <% if mail_u.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail_u.errors.count, "error") %> prohibited this mail_u from being saved:</h2>

      <ul>
      <% mail_u.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
